<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "cart", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <div id= "contenedor">
            <h1>Zapatilla internauta 3000</h1>
            <br>
            <h4>de ultricies neque sem facilisis.</h4>
        </div>

        <h2>Recompensa></h2>
        <h2>Categorias</h2>

        <div id= "contenedorOp">
            <label class= "opcionesContr"><input type="radio" name= "medio" value= "Bronce">
                <b class= "titulosContr">Contribución Bronce</b>
                <p class="textoContr">In volutpat at tortor vitae turpis faucibus.</p>
                <ul class="textoContr">
                    <li>Malesuada integer lectus et orci justo in.</li>
                    <li>Ornare velit quis.</li>
                </ul>
                <button class= "continuar">Continuar</button>
            </label>
            <label class= "opcionesContr"><input type="radio" name= "medio" value= "Plata">
                <b class= "titulosContr">Contribución Plata</b>
                <p class="textoContr">In volutpat at tortor vitae turpis faucibus.</p>
                <ul class="textoContr">
                    <li>Malesuada integer lectus et orci justo in.</li>
                    <li>Ornare velit quis.</li>
                </ul>
                <button class= "continuar">Continuar</button>
            </label>
            <label class= "opcionesContr"><input type="radio" name= "medio" value= "Oro">
                <b class= "titulosContr">Contribución Oro</b>
                <p class="textoContr">In volutpat at tortor vitae turpis faucibus.</p>
                <ul class="textoContr">
                    <li>Malesuada integer lectus et orci justo in.</li>
                    <li>Ornare velit quis.</li>
                </ul>
                <button class= "continuar">Continuar</button>
            </label>
        </div>

        <p id= "textoPatrocinar">Patrocinar no es comprar. <br>
            Estás apoyando una actividad creativa ambiciosa.<br>
            TechnoStarter no es una tienda. Tampoco garantiza los proyectos ni investiga la capacidad de los creadores de concretarlos. 
            El creador es el único responsable de lo que les promete a sus patrocinadores y de las declaraciones que hace con respecto al proyecto.<br>
            <br>
            Más información sobre las responsabilidades<br>
            <b>PREGUNTAS FRECUENTES</b>
            <ul id="preguntas">
                <li>¿Cómo hago una contribución?</li>
                <li>¿Cuándo se realizan cargos a mi tarjeta?</li>
                <li>¿Entonces sólo me realizan el cargo si el financiamiento está completo?</li>
                <li>¿Qué datos de mi contribución pueden ver los demás?</li>
                <li>¿Qué ocurre si quiero modificar mi contribución?</li>
                <li>Si se financia este proyecto, ¿cómo obtengo mi recompensa?</li>
            </ul>
        </p>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>