<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "home", "footer"]})%>

<body>
    <%- include("../partials/header")%> 
    <main>
        <section>
            <h2>La misión de Techno Starter es ayudar a dar vida a proyectos creativos.</h2>
        </section>
        <section>
            <article>
                <p>
                    Las campañas de Techno Starter hacen que las ideas se conviertan en realidad. Es el espacio donde los creadores comparten nuevas perspectivas sobre el trabajo creativo con las comunidades que se crearán para financiarlas. Techno Starter vino a revolucionar los proyectos Argentinos!
                </p>
                <p>
                    Pase lo que pase, los creadores siempre controlan los diferentes pasos de su trabajo: no hay solicitudes de subvención de 100 páginas, donantes que exijan modificar un mensaje ni cambios de última hora de los inversores. Cuando los patrocinadores contribuyen con fondos y ayudan a correr la voz, pasan a ser ellos también parte de estos trabajos independientes.
                </p>
            </article>
        </section>
        <section>
            <h2>
                Nuestra comunidad.
            </h2>
        </section>
        <section>
            <article>
                <p>Tendrás acceso a nuestra comunidad cuando inicies la tuya propia. La mayoría de los proyectos exitosos tienen un efecto de bola de nieve. Los amigos y primeros seguidores que conquistes compartirán la idea con sus redes y mostrarán su apoyo al resto de la comunidad de Techno Starter. La bola de nieve puede agrandarse bastante. Más de 20 millones de personas, de cada continente de la Tierra, han ayudado a financiar proyectos en Techno Starter.</p>
            </article>
        </section>
        <section>
            <h2>
                Nuestra misión.            
            </h2>
        </section>
        <section>
            <article>
                <p>Somos TechnoStarter, la plataforma de crowfunding que vino a revolucionar Argentina! Tus proyectos tecnologicos pueden hacerse realidad. Con tan solo 3 simples pasos podras acceder a un mercado de emprendedores argentinos que buscan invertir en nuevos proyectos. Dentro de nuestra plataforma nos divimos en 3 categorias: Impresión 3D, Robotica y Electronica (estamos trabajando para incluir mas categorias). Nuestra mision es poder brindar una mayor exposicion a proyetctos tecnologicos que no poseen fondos para poder completarse.</p>
            </article>
        </section>
        <section>
            <h2>
                Nuestro equipo.
            </h2>
        </section>
        <section>
            <article>
                <p>
                Hola, nos presentamos, somos Tomas Vila Martínez, Juan Segundo Martínez y Guido Padin, decidimos hacer una pagina de crowfunding, porque nos parecio buena idea replicarlo en un ambiente tecnologico que dia a dia se expande en Argentina.
                </p>
            </article>
        </section>
    </main>
    <%- include("../partials/footer")%> 
</body>

</html>