<!--views/partials/footer.ejs-->
<footer>
    <section>
        <figure class="logo-footer">
            <a href="/"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
        </figure>
    </section>
    <section class="section-p-footer">
        <p>Av. Carlos Sinsa 4587 Piso 2 CP 5496 Parque Patricios, CABA</p>
    </section>
    <section class="categorias-footer">
        <article class="ayuda">
            <ul>
                <li>Ayuda</li>
            </ul>
        </article>
        <article>
            <ul>
                <li>Privacidad</li>
            </ul>
        </article>
        <article>
            <ul>
                <li>Condiciones</li>
            </ul>
        </article>
    </section>  
</footer>