<!--views/partials/header.ejs-->
<header>
    <nav class="navbar--top">
        <ul class="desktop-visible flex-ul-top">
            <li><a href="/proyectos/descubrir">Descubrir</a></li>
            <li><a href="/proyectos/nosotros">Nosotros</a></li>
        </ul>
        <figure class="desktop-visible logo">
            <a href="#"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
        </figure>
        <figure class="mobile-visible logo">
            <a href="#"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
        </figure>
        <form action="/proyectos/buscar" method="get" id="search-desktop" class="desktop-visible hover-hidden">
            <fieldset>
                <input type="text" name="keyword" id="keyword">
                <button type="submit"><i class="fas fa-search"></i></button>
            </fieldset>
        </form>
        <ul class="navbar-icons">
            <li class="mobile-visible">
                <a href="/">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="desktop-visible">
                <a href="#search-desktop">
                    <i class="fas fa-search mobile-visible"></i>
                </a>
            </li>
            <li class="mobile-visible">
                <a href="#search">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="#cart">
                    <i class="fas fa-shopping-cart"></i></i>
                </a>
            </li>
            <li>
                <a href="#user">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="mobile-visible">
                <a href="#menu">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>
    </nav>
    <form action="/proyectos/buscar" method="get" id="search" class="mobile-visible hover-hidden">
        <fieldset>
            <input type="text" name="keyword" id="keyword">
            <button type="submit"><i class="fas fa-search"></i></button>
        </fieldset>
    </form>
    <nav id="user" class="hover-hidden">
        <ul>
            <li><a href="/ingresar">ingresar</a></li>
            <li><a href="/registrar">unite</a></li>
        </ul>
    </nav>
    <nav class="hover-hidden navbar-bottom" id="menu">
        <ul class="flex-ul-categorias-1">
            <li><a href="/proyectos/impresion">IMPRESIÓN 3D</a></li>
            <li><a href="/proyectos/robotica">ROBOTICA</a></li>
            <li><a href="/proyectos/electronica">ELECTRONICA</a></li>
        </ul>
    </nav>
    <nav class="desktop-visible navbar-bottom" id="menu-2">
        <ul class="flex-ul-categorias-2">
            <li><a href="/proyectos/impresion">IMPRESIÓN 3D</a></li>
            <li><a href="/proyectos/robotica">ROBOTICA</a></li>
            <li><a href="/proyectos/electronica">ELECTRONICA</a></li>
        </ul>
    </nav>
</header>