<section class="swiper-container mySwiper">
    <section class="swiper-wrapper">
        <article class="swiper-slide">Slide 1</article>
        <article class="swiper-slide">Slide 2</article>
        <article class="swiper-slide">Slide 3</article>
    </section>
    <section class="swiper-pagination"></section>
</section>