<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Starter</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/src/home.css">
</head>
<section class="header">
    <div class="in-header">

        <div class="logo">
            <a><img src="../public/img/TechnoStarter1.png" alt=""></a>

        </div>
        <div class="navigation">
            <ul>
                <a href="">
                    <li class="left-head1">Descubrir</li>
                </a>
                <a href="">
                    <li class="left-head">Nosotros</li>
                </a>
            </ul>
            <ul>
                <a href="">
                    <li class="right-head1"><i class="fas fa-user"></i></li>
                </a>
                <a href="">
                    <li class="right-head"><i class="fas fa-search"></i></li>
                </a>

            </ul>
        </div>
    </div>
    </div>
</section>
<section class="categorias">
    <div class="in-categorias">
        <ul>
            <hr>
            <a href="">
                <li>Impresión 3D</li>
            </a>
            <a href="">
                <li>Robotica</li>
            </a>
            <a href="">
                <li>Electronica</li>
            </a>
            <hr>
        </ul>
    </div>
</section>









<body>
    <section>



    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
<hr>
<footer>
    
</footer>
</html>