<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Starter</title>
    <link rel="stylesheet"  href="../public/src/home.css"> 
</head>
<body>
    <header>
        <section class="header">

            <div>
                <ol>
                    <li> <img class="logo" src="../public/img/logoPrueba.png" alt=""></li>
                </ol>  
                <span><h1>Techno Starter</h1></span>
            </div>
            <div class=""></div>
            <ol>
                <button>Descubrir</button>
                <button>Nosotros</button>
                

            </ol>

        </section>
    </header>

<footer>
</footer>

    
</body>
</html>