* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FFF3DD;
}

#contenedor {
    background: #EBE9E9;
    text-align: center;
    padding: 80px;
}

h2 {
    color: #331800;
    display: inline-block;
    padding: 20px 0px 20px 20px;
    font-size: medium;
}

@media (min-width: 769px) {
    h2 {
        padding: 20px 0px 20px 20px;
        font-size: large;
    }
    #contenedorOp {
        display: flex;
    }
    
    .opcionesContr {
        display: block;
        text-align: left;
        width: 500px;
        padding: 30px;
        margin: 30px;
        border: 1px solid;
        border-radius: 10px;
    }
    
    .titulosContr {
        font-size: large;
        font-style: italic;
    }
    
    .textoContr {
        padding: 10px;
    }
    
    .continuar {
        display: block;
        background-color: #031927;
        color: #FF9900;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
    
    #textoPatrocinar {
        display: inline-block;
        text-align: justify;
        padding: 50px 80px 0px;
    }
    
    #preguntas {
        text-align: justify;
        padding: 50px 120px 250px;
    }
}

@media (min-width: 361px) {
    #textoPatrocinar {
        display: inline-block;
        text-align:center;
        padding: 50px 80px 0px;
    }

    #preguntas {
        text-align: justify;
        text-align: center;
        padding: 50px 120px 250px;
    }
}