* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FFF3DD;
}

#contenedor {
    background: #EBE9E9;
    text-align: center;
    padding: 80px;
}

h2 {
    color: #331800;
    display: inline-block;
    padding: 20px 0px 20px 20px;
    font-size: medium;
}

.flex-precio{
    display: flex;
    justify-content: space-around;
}

.flex-titulo{
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    h2 {
        padding: 20px 0px 20px 20px;
        font-size: large;
    }
    #contenedorOp {
        display: flex;
    }
    
    .opcionesContr {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 15px;
        max-width: 40vw;
        max-height: 100vh;
        margin: 30px;
        border: 1px solid;
        border-radius: 10px;
    }
    
    .titulosContr {
        margin-left: 5px;
        font-size: large;
        font-style: italic;
    }
    
    .textoContr {
        padding: 10px;
    }
    
    .continuar {
        display: block;
        background-color: #031927;
        color: #FF9900;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }
    
    #textoPatrocinar {
        display: inline-block;
        text-align: justify;
        padding: 50px 80px 0px;
    }
    
    #preguntas {
        text-align: justify;
        padding: 1em 1em 4em 1em;
    }
}

@media (min-width: 361px) {
    #textoPatrocinar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #preguntas {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }

    .opcionesContr{
        display: flex;
        flex-direction: column;
    }
}