@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/
/************************************^^HEADER^^^********************************************/


.mobile-visible{
    display: inline-block;
}

.desktop-visible{
    display: none;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	background: #000;
}

header {
	display: flex;
	flex-wrap: wrap;
    width: 100%;
	flex-direction: column;
	min-height: 10vh;
	background-color: #031927;
	box-shadow: 0 10px 8px 0 rgba(220, 220, 220, 0.7);
}



header nav {
	display: flex;
	height: 10vh;
	align-items: center;
}

header img {
	max-height: 100%;
    width: 50%;
}

.hover-hidden {
	visibility: hidden;
	height: 0vh;
	overflow: hidden;
	transition: all 0.3s ease-out;
}

.hover-hidden:target {
	visibility: visible;
	height: 10vh;
}

.navbar-icons {
	display: flex;
	justify-content: space-between;
}