@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

/**************************************^^^BODY^^^********************************************/

.margin-body {
    margin: 10px;
}


/**************************************^^^BODY^^^********************************************/


body{
    background-color: #FFF3DD;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    min-height: 100vh; 
    box-sizing: border-box;
}

main{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.categorias-body li{
height: 100%;
width: 33vw;
display: flex;
flex-flow: row;
justify-content: center;
align-items: flex-start;
box-sizing: border-box;
}

.titulo-h2{
    font-size: 1.5em;
    margin: 1em 0 1em 0;
}

/********************************^^^CAMPAÑA-DESTACADA^^^********************************************/

.flex-camapañaDestacada{
    border-radius: 15px;
}

.campañaDestacada{
    margin-top: 18vh;
}

.campañaDestacada-1{
    margin-top: 10px;
    color: #FF9900;
    border-radius: 25px;
    padding: 10px;
    background-color: #031927;
    border: solid 2px #FF9900;
}

.campañaDestacada article{
    padding: 10px;

}

.campañaDestacada h2{
    text-align: center;
}

.campañaDestacada img{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #FF9900;  
}

/********************************^^^RECOMENDACIONES^^^********************************************/

.recomendaciones-1{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #FF9900;
    border-radius: 25px;
    background-color: #031927;
    color: #FF9900;
}

.recomendaciones-2{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #FF9900;
    color: #FF9900;
    border-radius: 25px;
    background-color: #031927;
}

.recomendaciones-3{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #FF9900;
    border-radius: 25px;
    background-color: #031927;
    color: #FF9900;
}   

/*******************************************ARTICLE-RECO****************************************/
.titulo-reco{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.meta{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 0 2vh 0;
}

.patrocinadores{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 2vh 0 2vh 0;

}

.ubicacion{
    text-align: center;
    margin: 2vh 0 2vh 0;
}

.ubicacion i{
    margin-right: 3px;
}

.recomendaciones h2{
    text-align: center;
}

.recomendaciones img{
    width: 100%;
    border: 2px solid #FF9900;
    border-radius: 25px;
}

.flex-thumbs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh 0 2vh 0;
}

.flex-thumbs i{
    color: #FF9900;
    background-color: #FFF3DD;
    padding: 8px 8px;
    border-radius: 100%;
    border: 2px solid #FF9900;

}
/********************************^^^COMO-FUNCIONA^^^********************************************/

.comoFunciona{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.flex-comoFunciona article{
    margin-top: 10vh;
}


.flex-comoFunciona p{
    width: 100%;
    font-size: 23px;
    padding: 10px;
    text-align: center;
}

.flex-comoFunciona-n{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.comoFunciona h2{
    text-align: center;
    margin-top: 5vh;
}

.comoFunciona h3{
    text-align: center;
}

.comoFunciona img{
    width: 4em;
    margin-bottom: 10px;
}
/********************************^^^PATROCINADORES^^^********************************************/

.nuestrosPatrocinios{
    margin-top: 10vh;
}

.nuestrosPatrocinios h2{
    text-align: center;
}

.flex-patrocinios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.flex-patrocinios i{
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-size: 3em;
    color: #031927;

}

/**************************************^^^DESKTOP^^^********************************************/
@media (min-width: 361px){
    .flex-patrocinios i{
        font-size: 5em;
    }

    .campañaDestacada figure{
        padding: 1.5em 1.5em 0 1.5em;
    }

    .recomendaciones figure{
        padding: 1.5em 1.5em 0 1.5em;
    }

    .flex-thumbs{
        font-size: 1.5em;
    }

}


@media (min-width: 769px){
    /**************************************^^^BODY^^^********************************************/

    .titulo-h2{
        font-size: 1.5em;
    }

    .categorias-body li{
        height: 100%;
        width: 33vw;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }

    /********************************^^^CAMPAÑA-DESTACADA^^^********************************************/

    .flex-camapañaDestacada{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-camapañaDestacada figure{
        width: 80%;
        margin-top: 1em;
    }

    .campañaDestacada p{
        font-size: 25px;
        width: 100%;
    }

    .campañaDestacada{
        margin-top: 5vh;
        padding: 2vw 10vw 2vw 10vw;
    }   

    .campañaDestacada h2{
        text-align: center;
        margin: 2vh 0 4vh 0;
    }

    .campañaDestacada img{
        width: 100%;
        padding: 0px;
    }


    /********************************^^^RECOMENDACIONES^^^********************************************/
    .flex-recomendaciones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-recomendaciones article{
        text-align: center;
    }

    .flex-recomendaciones figure{
        margin-top: 0.5em;
    }

    .recomendaciones{
        padding: 0 10vw 0 10vw;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .recomendaciones article{
        margin: 10px;
    }

    .recomendaciones p{
        font-size: 23px;
        width: 100%;
    }
    
    .recomendaciones h2{
        text-align: center;
    }
    
    .recomendaciones img{
        width: 100%;
        padding: 0px;
        border: 2px solid #FF9900;
    }
    
    .recomendaciones figure{
        width: 65%;
    }

    .recomendaciones-1 img{
        border-radius: 25px;
        border: 2px solid #FF9900;

    }
    /********************************^^^RECOMENDACIONES-2^^^********************************************/

    .recomendaciones-2{
        padding: 10px;
        
    }

    .recomendaciones-2 img{
        width: 100%;
        border-radius: 25px;
        
    }

    .recomendaciones-2 figure{
        width: 65%;
    }


    /********************************^^^RECOMENDACIONES-3^^^********************************************/
    
    .recomendaciones-3{
        padding: 10px;
        border: 2px solid #FF9900;
        border-radius: 15px;
    } 

    .recomendaciones-3 img{
        width: 100%;
        border-radius: 25px;
    }

    .recomendaciones-3 figure{
        width: 65%;
    }

    .flex-thumbs i{
        padding: 10px 10px;
        border-radius: 50%;
    }

    /*******************************************ARTICLE-RECO****************************************/

    .meta{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin: 0vh 0 5vh 0;
    }
    
    .patrocinadores{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin: 2vh 0 2vh 0;
    
    }
    
    .ubicacion{
        text-align: center;
        margin: 7vh 0 7vh 0;
    }
    
    .ubicacion i{
        margin-right: 3px;
    }
    /********************************^^^COMO-FUNCIONA^^^********************************************/

    .comoFunciona{
        width: 100%;
        display: block;
    }

    .flex-comoFunciona{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin-top: 5vh;
    }

    .flex-comoFunciona article{
        width: 33%;
        margin: 15px;  
    }

    .flex-comoFunciona p{
        font-size: 23px;
        width: 100%;  
    }


    .flex-comoFunciona-n{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .comoFunciona img{
        width: 4em;
        margin-left: 1vw;
        margin-bottom: 10px;
    }
    /********************************^^^PATROCINADORES^^^********************************************/

    .nuestrosPatrocinios{
        margin-top: 10vh;
    }

    .nuestrosPatrocinios h2{
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .flex-patrocinios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .flex-patrocinios i{
        margin-top: 10vw;
        margin-bottom: 10vw;
        color: #031927;
        font-size: 7em;
    }



}