@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

/**************************************^^^BODY^^^********************************************/
* {
    font-family: "Roboto";
}
.margin-body {
    margin: 2vh 0 2vh 0;
}

.margin-body label{
    margin: 2vh 0 2vh 0;
}

main{
    margin-top: 20vh;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


body{
    text-align: left;
    background-color: #FFF3DD;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-size: 18px;
    min-height: 100vh;
    width: 100vw; 
    box-sizing: border-box;
    color: #FF9900;
}

/**************************************^^^FORM^^^********************************************/


#form-principal fieldset{
    border: none;
}

#form-principal{
    border-radius: 25px;
    max-width: 500px;
    background-color: #031927;
    font-size: 14px;
    padding: 20px;
    border: 2px solid #FF9900;
}

label{
    font-weight: 500;
    font-size: 15px;
}


#input input{
    border-radius: 14px;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 1vh 0 1vh 0;
}

#nombreUsuario{
    width: 100%;
    margin-top: 10px;
}

#contraseña{
    width: 100%;
    margin-top: 10px;
}

#contraseña label{
    margin-top: 10px;
}

#flex-recordarme{
    display: flex;
    align-items: center;
    justify-content: center;
}

/**************************************^^^BUTTON^^^********************************************/

#flex-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#flex-button button{
    color: black;
    background-color: #FF9900;
    padding: 6px 7px;
    border-radius: 15px;
    margin: 1vh 0 1vh 0;
    position: relative;
    font-family: "Roboto";
    font-weight: 400;
}

#flex-button fieldset{
    position: relative;
}

#flex-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#flex-password a{
    margin-left: 5px;
}

#recordarme{
    margin-bottom: 0;
    margin-right: 5px;
}


/**************************************^^^OLVIDAR-CONTRASEÑA^^^********************************************/



.olvidarContraseña{
    height: -300px;
    margin-top: vh;
    width: 100%
}

.olvidarContraseña{
    text-align: center;
}

@media (min-width: 361px){

    #form-principal{
    margin: 15vh 2vh 2vh 2vh;
    }

    #flex-button button{
        width: 32%;
    }
}

@media (min-width: 768px){
    #flex-button button{
        width: 30%;
    }

    #form-principal{
        margin: 2vh 2vh 2vh 2vh;
    }
}

@media (min-width: 1000px){
    #form-principal {
    font-size: 1.2em;
    }

    #form-principal label{
    font-size: 1.2em;
    }

    #flex-button button {
    font-size: 1em;
    width: 40%;
    }

    #clave{
        font-size: 1em;
    }

    #correo{
        font-size: 1em;
    }
}