@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

/**************************************^^^BODY^^^********************************************/

.margin-body {
    margin: 10px;
}


/**************************************^^^BODY^^^********************************************/


body{
    background-color: #FFF3DD;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    min-width: 100vw;
    min-height: 100vh; 
    box-sizing: border-box;
}

main{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**************************************^^^TITULO^^^********************************************/

h2{
    text-align: center;
    font-size: 1.5em;
    margin: 13vh 0 2vh 0;
}

/**************************************^^^FORMULARIO^^^********************************************/

#formulario{
    background-color: #031927;
    color: white;
    padding: 2.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 4vw 4vw 4vw;
    border-radius: 15px;
    border: 2px solid #FF9900;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

h4{
    color: #FF9900;
}

.formulario fieldset{
    border: none;
    margin: 2vw;
}

.formulario input{
    margin: 2vh 0 2vh 0;
    padding: 1vw;
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
}

label{
    font-size: 20px;
    font-weight: 500;
}

#flex-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flex-avatar article{
    margin-top: 1em;
    font-size: 20px;
    font-weight: 500;
}

#avatarPreview{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    width: 120px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FF9900;
    background-color: white;
}

#avatarPreview img{
    width: 100%;
    object-fit: cover;
}

.fotoAvatar{
    margin: 0;
}

#avatar{
    width: 70%;
    align-items: center;
}

#navbarflexBotones{
    display: flex;
    justify-content: space-around;
}

#submit-button{
    margin: 0;
}

nav a{
    color: #FF9900;
    text-decoration: none;
}
/**************************************^^^PROYECTOS^^^********************************************/


#misProyectos{
    display: flex;
    flex-direction: column;
    background-color: #031927;
    color: white;
    padding: 2.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 4vw 4vw 4vw;
    border-radius: 15px;
    border: 2px solid #FF9900;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

#proyectos{
    display: flex;
    flex-direction: row;
}

#flex-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#flex-botones button{
    padding: 1vw;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: #FF9900;
    border: 1px solid;
    width: 25%;
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: black;
}

/**************************************^^^MEDIA-QUERYS^^^********************************************/

@media (min-width: 480px){
    h2{
        font-size: 2em;
        margin: 14vh 0 2vh 0;
        padding: 0vw 3vw;
    }
    
    .formulario{
        margin-top: 5vh;
    }
    
    .formulario input{
        font-size: 16px;
    }
}

@media (min-width: 769px){
    .formulario{
        margin-top: 5vh;
    }
    .formulario input{
        font-size: 18px;
    }
    h2{
        font-size: 2.2em;
        margin: 4vh 0 2vh 0;
    }
    button i{
        margin-left: 0.5vw;
    }
}