@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

body{
    margin-bottom: 0px;
    background-color: #FFF3DD;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    font-family: "Roboto";
    font-size: 18px;
    min-height: 100vh;
    width: 100vw; 
    box-sizing: border-box;
    color: #FF9900;
}

.lorem{
    margin: 10px;
}

p {
    font-size: 20px;
}

#contenedor1 {
    width: 100%;
    color: #000;
    text-align: center;
    padding: 80px;
    border: 1px solid #C4C4C4;
}

#contenedor2 {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #C4C4C4;
    border-top: none;
    align-items: center;
}

#contenedor2 article {
    text-align: center;
}

.flex-ubic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#imgPrincipal {
    width: 50%;
    height: 400px;
    margin: 30px;
    border: 2px solid #031927;
    border-radius: 50px;
}

#SA {
    color: #031927;
    padding: 5px;
    font-size: 22px;
    width: 60%;
    text-align: center;
}


#precio {
    display: inline-block;
    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 67px;
    color: #000000;
}

#precio p{
color: #FF9900;
}

button {
    display: block;
    background-color: #031927;
    font-size: larger;
    color: #FF9900;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

#contenedor3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

#imgSecundaria {
    width: 800px;
    height: 400px;
    border: 2px solid #031927;
    border-radius: 50px;
    align-self: center;
    margin: 40px;
}

#contenedor4, #contenedor5 {
    display: flex;
    justify-content: space-around;
}

#contenedor5 {
    border-top: 1px solid #C4C4C4;
}

.contenedorInterno {
    width: 25vw;
}

.imgChica {
    width: 300px;
    height: 200px;
    border: 2px solid #031927;
    border-radius: 50px;
    margin: 60px 20px;
}

#tambien {
    display: inline;
}

.imgRecomendacion {
    width: 300px;
    height: 200px;
    border: 2px solid #031927;
    border-radius: 50px;
    margin: 60px 20px;
}

.campaña{
    text-align: center;
}

