<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "electronica", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Electronica</h2>
        </section>
        <section class="robotica"> 
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">RayShot</h2>
                        <h2 class="precio margin-articleInterior">109.860$</h2>
                        <p class="meta margin-articleInterior">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores margin-articleInterior">458 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Palermo, Buenos Aires</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">RayShot</h2>
                        <h2 class="precio margin-articleInterior">109.860$</h2>
                        <p class="meta margin-articleInterior">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores margin-articleInterior">458 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Palermo, Buenos Aires</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">RayShot</h2>
                        <h2 class="precio margin-articleInterior">109.860$</h2>
                        <p class="meta margin-articleInterior">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores margin-articleInterior">458 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Palermo, Buenos Aires</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">RayShot</h2>
                        <h2 class="precio margin-articleInterior">109.860$</h2>
                        <p class="meta margin-articleInterior">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores margin-articleInterior">458 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Palermo, Buenos Aires</p>
                    </article>
                </section class="robotica-border">
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
    </main>
    <%-include("../partials/footer")%> 
</body>