<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "impresion", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Impresión 3D</h2>
        </section>
        <section class="impresion"> 
            <section class="impresion-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">3Dvarius</h2>
                        <p class="margin-articleInterior">Primer violin Argentino impreso en 3D</p>
                        <h2 class="precio margin-articleInterior">53.231€</h2>
                        <p class="meta margin-articleInterior">contribuido de 50.000€</p>
                        <p class="patrocinadores margin-articleInterior">144 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="impresion-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">3Dvarius</h2>
                        <p class="margin-articleInterior">Primer violin Argentino impreso en 3D</p>
                        <h2 class="precio margin-articleInterior">53.231€</h2>
                        <p class="meta margin-articleInterior">contribuido de 50.000€</p>
                        <p class="patrocinadores margin-articleInterior">144 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="impresion-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">3Dvarius</h2>
                        <p class="margin-articleInterior">Primer violin Argentino impreso en 3D</p>
                        <h2 class="precio margin-articleInterior">53.231€</h2>
                        <p class="meta margin-articleInterior">contribuido de 50.000€</p>
                        <p class="patrocinadores margin-articleInterior">144 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="impresion-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco margin-articleInterior">3Dvarius</h2>
                        <p class="margin-articleInterior">Primer violin Argentino impreso en 3D</p>
                        <h2 class="precio margin-articleInterior">53.231€</h2>
                        <p class="meta margin-articleInterior">contribuido de 50.000€</p>
                        <p class="patrocinadores margin-articleInterior">144 Patrocinadores</p>
                        <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                    </article>
                </section class="impresion-border">
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
        </section>
    </main>
    <%-include("../partials/footer")%> 
</body>