<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "robotica", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Robotica</h2>
        </section>
        <section class="robotica"> 
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
            <section class="robotica-border">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section class="robotica-border">
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
            </section>
    </main>
    <%-include("../partials/footer")%> 
</body>