<!DOCTYPE html>
<html lang="en">
    
<%-include("../partials/head",{"css":["header", "product", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    
<main>
    <div id= "contenedor1">
        <h1>Zapatilla Internauta 3000</h1>
        <br>
        <h4>Lorem ipsum lorem ipsum lorem ipsum</h4>
    </div>
    <div id= "contenedor2">
        <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" id= "imgPrincipal">
        <i class="fas fa-map-marker-alt"></i>
        <p id= "SA">SA Miguel, TUC</p>
    </div>
    <h1 id= "precio">60.0000US$</h1>
    <h1 id= "netgraph">NETGRAph</h1>
    <h1 id= "numero-dias">10</h1>
    <h2 id= "dias">Dias m치s</h2>
    <button>Patrocina esta campa침a</button>
    <h3>Campa침a</h3>
    <h3>Patrocina esta campa침a</h3>
    <h3>
        <i class="far fa-bookmark"></i>Recuerdame
    </h3>
    <div id= "contenedor3">
        <h1>HISTORIA</h1>
        <h1 id= "netgraph">
            <i class="fas fa-stroopwafel"></i>NETGRAph
        </h1>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        Lorem Ipsum is simply.
    </p>
    <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" id= "imgSecundaria">
    </div>
    <div id= "contenedor4">
        <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgChica">
        <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgChica">
        <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgChica">
        <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgChica">
    </div>
    <div id= "contenedor5">
        <div class="contenedorInterno">
            <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgRecomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
        </div>
        <div class="contenedorInterno">
            <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgRecomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
        </div>
        <div class="contenedorInterno">
            <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgRecomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
        </div>
        <div class="contenedorInterno">
            <img src="/img/acasis/acasis-2.jpg" alt="imagen de Zapatilla" class= "imgRecomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
        </div>
    </div>
</main>
    <%- include("../partials/footer")%> 

</body>
</html>
    

    
    