<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head",{"css":["header","not-found","footer"]})%>
<body>
    <%-include("../partials/header")%> 

    <main>
        <div id= "contenedor">
            <h3 id="error">Error 404</h3>
            <p>Lo sentimos, pero la página que 
                estas buscando no existe :( 
            </p>
        </div>
        
    </main>

    <%-include("../partials/footer")%> 
</body>
</html>