<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoStarter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <nav class="navbar--top">
            <ul class="desktop-visible">
                <li><a href="/proyectos/descubrir">Descubrir</a></li>
                <li><a href="/proyectos/nosotros">Nosotros</a></li>
            </ul>
            <figure class="desktop-visible logo">
                <a href="#"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
            </figure>
            <figure class="mobile-visible logo">
                <a href="#"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
            </figure>
            <form action="/proyectos/buscar" method="get" id="search-desktop" class="desktop-visible hover-hidden">
                <fieldset>
                    <input type="text" name="keyword" id="keyword">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
            </form>
            <ul class="navbar-icons">
                <li class="mobile-visible">
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="desktop-visible">
                    <a href="#search-desktop">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="mobile-visible">
                    <a href="#search">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#cart">
                        <i class="fas fa-shopping-cart"></i></i>
                    </a>
                </li>
                <li>
                    <a href="#user">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="mobile-visible">
                    <a href="#menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <form action="/proyectos/buscar" method="get" id="search" class="mobile-visible hover-hidden">
            <fieldset>
                <input type="text" name="keyword" id="keyword">
                <button type="submit"><i class="fas fa-search"></i></button>
            </fieldset>
        </form>
        <nav id="user" class="hover-hidden">
            <ul>
                <li><a href="/ingresar">ingresar</a></li>
                <li><a href="/registrar">unite</a></li>
            </ul>
        </nav>
        <nav class="hover-hidden navbar-bottom" id="menu">
            <ul>
                <li><a href="/proyectos/impresion">impresion 3D</a></li>
                <li><a href="/proyectos/robotica">robotica</a></li>
                <li><a href="/proyectos/electronica">electronica</a></li>
            </ul>
        </nav>
        <nav class="desktop-visible navbar-bottom" id="menu-2">
            <ul>
                <li><a href="/proyectos/impresion">impresion 3D</a></li>
                <li><a href="/proyectos/robotica">robotica</a></li>
                <li><a href="/proyectos/electronica">electronica</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="campañaDestacada margin-body">
            <section class="titulo-h2">
                <h2>
                    Campaña Destacada!
                </h2>
            </section>
            <section class="campañaDestacada-1">
                <section class="flex-camapañaDestacada">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">
                            3Dvarius - High-end 3D printed electric Violin</h2>
                            <h2 class="precio">53.231€</h2>
                            <p class="meta">contribuido de 50.000€</p>
                            <p class="patrocinadores">144 Patrocinadores</p>
                            <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                        </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
        </section>
        <section class="recomendaciones margin-body">
                <section class="titulo-h2">
                    <h2>Recomendaciones</h2>
                </section>
            <section class="recomendaciones-1">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">RayShot</h2>
                        <h2 class="precio">109.860$</h2>
                        <p class="meta">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores">458 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Hong Kong, Hong Kong</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
            <section class="recomendaciones-2">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
            <section class="recomendaciones-3">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/acasis/acasis-2.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">ACASIS: SSD Storage 10 in 1</h2>
                        <h2 class="precio">513.569US$</h2>
                        <p class="meta">contribuido de meta 5.000 US$</p>
                        <p class="patrocinadores">3.073 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Munich, DEU</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
        </section>
        <section class="comoFunciona">
            <section class="titulo-h2">
                <h2>¿Como funciona TechnoStarter?</h2>
            </section>
            <section class="flex-comoFunciona">
                <article>
                    <figure>
                        <img src="/img/technoStarter/numero1TechnoStarter.png" alt="">
                    </figure>
                    <section>
                        <h3>Iniciar una campaña</h3>
                        <p>Crea tu proyecto en TechnoStarter en pocos minutos a través de un procedimiento fácil y rápido.</p>
                    </section>
                </article>
                <article>
                    <figure>
                        <img src="/img/technoStarter/numero2TechnoStarter.png" alt="">
                    </figure>
                    <section>
                        <h3>Comparte tu historia</h3>
                        <p>Comparte tu proyecto para obtener apoyo. Cuanta mas gente se interese en tu proyecto mas rapido llegaras a tu objetivo de donaciones.</p>
                    </section>
                </article>
                <article>
                    <figure>
                        <img src="/img/technoStarter/numero3TechnoStarter.png" alt="">
                    </figure>
                    <section>
                        <h3>Gestiona tu campaña</h3>
                        <p>Recibe notificaciones sobre los nuevos donativos, mantén informados a tus donantes, envía agradecimientos, gestiona tus retiros de fondos y finaliza tu tan soñado proyecto!.</p>
                    </section>
                </article>
            </section>
        </section>

        <section class="nuestrosPatrocinios margin-body">
            <section class="titulo-h2">
                <h2>Nuestros Patrocinios!</h2>
            </section>
            <article class="flex-patrocinios">
                <section>
                    <a href="https://www.kickstarter.com/"><i class="fab fa-kickstarter fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.amazon.com/"><i class="fab fa-amazon fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.reddit.com/"><i class="fab fa-reddit-square fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.patreon.com/"><i class="fab fa-patreon fa-3x"></i></a>
                </section>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <figure class="logo-footer">
                <a href="/"><img src="/img/technoStarter/TechnoStarter1.png" alt="logo del sitio"></a>
            </figure>
        </section>
        <section class="section-p-footer">
            <p>Av. Carlos Sinsa 4587 Piso 2 CP 5496 Parque Patricios, CABA</p>
        </section>
        <section class="categorias-footer">
            <article class="ayuda">
                <ul>
                    <li>Ayuda</li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>Privacidad</li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>Condiciones</li>
                </ul>
            </article>
        </section>  
    </footer>
</body>

</html>