<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoStarter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <nav class="navbar--top">
            <ul class="desktop-visible">
                <li><a href="/proyectos/Descubrir">Descubrir</a></li>
                <li><a href="/proyectos/Nosotros">Nosotros</a></li>
            </ul>
            <figure class="desktop-visible">
                <a href="#"><img src="/img/TechnoStarter1.png" alt="logo del sitio"></a>
            </figure>
            <figure class="mobile-visible logo">
                <a href="#"><img src="/img/TechnoStarter1.png" alt="logo del sitio"></a>
            </figure>
            <form action="/proyectos/buscar" method="get" id="search-desktop" class="desktop-visible hover-hidden">
                <fieldset>
                    <input type="text" name="keyword" id="keyword">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
            </form>
            <ul class="navbar-icons">
                <li class="mobile-visible">
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="desktop-visible">
                    <a href="#search-desktop">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="mobile-visible">
                    <a href="#search">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#cart">
                        <i class="fas fa-shopping-cart"></i></i>
                    </a>
                </li>
                <li>
                    <a href="#user">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="mobile-visible">
                    <a href="#menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <form action="/proyectos/buscar" method="get" id="search" class="mobile-visible hover-hidden">
            <fieldset>
                <input type="text" name="keyword" id="keyword">
                <button type="submit"><i class="fas fa-search"></i></button>
            </fieldset>
        </form>
        <nav id="user" class="hover-hidden">
            <ul>
                <li><a href="/ingresar">ingresar</a></li>
                <li><a href="/registrar">unite</a></li>
            </ul>
        </nav>
        <nav class="hover-hidden navbar-bottom" id="menu">
            <ul>
                <li><a href="/proyectos/impresion">impresion 3D</a></li>
                <li><a href="/proyectos/robotica">robotica</a></li>
                <li><a href="/proyectos/electronica">electronica</a></li>
            </ul>
        </nav>
        <nav class="desktop-visible navbar-bottom">
            <ul>
                <li><a href="/proyectos/impresion">impresion 3D</a></li>
                <li><a href="/proyectos/robotica">robotica</a></li>
                <li><a href="/proyectos/electronica">electronica</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="POST">
            <fieldset>
                <h3 class="margin-body">Bienvenido devuelta!</h3>
                <label for="nombreUsuario" class="margin-body">Direccion de correo electronico</label>
                <input type="text" placeholder="Nombre de usuario" id="nombreUsuario" name="nombreUsuario">
            </fieldset>
            <fieldset>
                <label for="contraseña" class="margin-body">Contraseña</label>
                <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña">
            </fieldset>
            <button class="margin-body">Iniciar sesión<nav></nav></button>
            <fieldset>
                <input type="radio" name="recordarme" id="recordarme">
                <label for="recordarme" >Recordarme</label>
            </fieldset>
            <fieldset class="olvidarContraseña">
                <p>¿Te olvidaste la contraseña?</p>
                <p>Recuperala <a href="/">aca</a></p>
            </fieldset>
        </form>
    </main>
        <footer>
            <section>
                <figure class="logo-footer">
                    <a href="/"><img src="/img/TechnoStarter1.png" alt="logo del sitio"></a>
                </figure>
            </section>
            <section class="section-p-footer">
                <p>Av. Carlos Sinsa 4587 Piso 2        CP 5496 Parque Patricios, CABA</p>
            </section>
            <section class="categorias-footer">
                <article class="ayuda">
                    <ul><li>Ayuda</li></ul>
                </article>
                <article>
                    <ul><li>Privacidad</li></ul>
                </article>
                <article>
                    <ul><li>Condiciones</li></ul>
                </article>
            </section>
        </footer>
    </body>
    </html>
