<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoStarter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <nav class="navbar--top">
            <article>
                <ul>
                    <li><a href="/">Descubrir</a></li>
                </ul>
            </article>
                <ul>
                    <li><a href="/">Nosotros</a></li>
                </ul>
            <article>
                <figure class="logo">
                    <a href="/"><img src="/img/TechnoStarter1.png" alt="logo del sitio"></a>
                </figure>
            </article>
            <article class="barraProyectos">
                <form action="/proyectos" method="get" id="search">
                    <fieldset>
                        <input type="text" name="name" id="name">
                        <button type="submit">buscar</button>
                    </fieldset>
                </form>
            </article>   
            <article>
                <ul>
                    <li><a href="#search"><i class="fas fa-search"></i></a></li>
                </ul>
            </article> 
            <article>
                <ul>
                    <li><a href="#user"><i class="fas fa-user"></i></a></li>
                </ul>
            </article>
            <article id="user">
                <ul>
                    <li>
                        <a href="/ingresar">Ingresar</a>     
                    </li>
                    <li>
                        <a href="/ingresar">Unite</a>     
                    </li>
                </ul>
            </article>
        </nav>
        <nav class="navbar-bottom">
            <article>
                <ul class="categoriasPrincipal">
                    <li>
                        <a href="/proyectos/impresion">Impresion 3D</a>
                    </li>
                    <li>
                        <a href="/proyectos/robotica">Robotica</a>
                    </li>
                    <li>
                        <a href="/proyectos/electronica">Electronica</a>
                    </li>
                </ul>
            </article>
        </nav>
    </header>
    <section class="registrateAqui">
        <article>
            <section>
                <h2>
                    ¡Registrate aqui!      
                </h2>
            </section>
        </article>
</section>

<form action="/" method="POST">

    <fieldset>
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" placeholder="Nombre Completo" id="nombreCompleto" name="nombreCompleto">
    </fieldset>
    <fieldset>
        <label for="direccionDeCorreoElectronico">Direccion de correo electronico</label>
        <input type="text" placeholder="Direccion de correo electronico" id="direccionDeCorreoElectronico" name="direccionDeCorreoElectronico">
    </fieldset>
    <fieldset>
        <label for="contraseña">Contraseña</label>
        <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña">
    </fieldset>
    <fieldset>
        <label for="confirmarContraseña">Confirmar Contraseña</label>
        <input type="confirmPassword" placeholder="Confirmar contraseña" id="confirmarContraseña" name="confirmarContraseña">
    </fieldset>
    <button>Crear usuario<nav></nav></button>
    <fieldset class="aceptoLosTerminos">
        <input type="radio" name="recordarme" id="recordarme">
        <label for="aceptoLosTerminos">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
    </fieldset>
    <fieldset class='tener'>
        <p>¿Tienes una cuenta? <a href="/">Iniciar</a></p>
    </fieldset>
</form>
<footer>
    <section>
        <figure class="logo-footer">
            <a href="/"><img src="/img/TechnoStarter1.png" alt="logo del sitio"></a>
        </figure>
    </section>
    <section>
        <p>Av. Carlos Sinsa 4587 Piso 2        CP 5496 Parque Patricios, CABA</p>
    </section>
    <section>
        <article>
            <ul><li>Ayuda</li></ul>
        </article>
        <article>
            <ul><li>Privacidad</li></ul>
        </article>
        <article>
            <ul><li>Condiciones</li></ul>
        </article>
            
    </section>


</footer>
</body>
</html>