<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head",{"css":["header", "home", "footer"]})%>

<body>
    <%-include("./partials/header")%> 
    <main>
        <section class="campañaDestacada margin-body">
            <section class="titulo-h2">
                <h2>
                    Campaña Destacada! 
                </h2>
            </section>
            <section class="campañaDestacada-1">
                <section class="flex-camapañaDestacada">
                    <figure>
                        <img src="/img/3Dvarius/varius-principal.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">
                            3Dvarius - High-end 3D printed electric Violin</h2>
                            <h2 class="precio">53.231€</h2>
                            <p class="meta">contribuido de 50.000€</p>
                            <p class="patrocinadores">144 Patrocinadores</p>
                            <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Paris, France</p>
                        </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
        </section>
        <section class="recomendaciones margin-body">
                <section class="titulo-h2">
                    <h2>Recomendaciones</h2>
                </section>
            <section class="recomendaciones-1">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/rayshot/rayshot-1.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">RayShot</h2>
                        <h2 class="precio">109.860$</h2>
                        <p class="meta">contribuido de meta 10.311 $</p>
                        <p class="patrocinadores">458 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Hong Kong, Hong Kong</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
            <section class="recomendaciones-2">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/tiBeast/tiBeast.png" alt="tiBeast">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">TiBeast</h2>
                        <h2 class="precio">32.936US$</h2>
                        <p class="meta">contribuido de meta 20.000 US$</p>
                        <p class="patrocinadores">71 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Albany, NY</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
            <section class="recomendaciones-3">
                <section class="flex-recomendaciones">
                    <figure>
                        <img src="/img/acasis/acasis-2.jpg" alt="imagen de prueba">
                    </figure>
                    <article>
                        <h2 class="titulo-reco">ACASIS: SSD Storage 10 in 1</h2>
                        <h2 class="precio">513.569US$</h2>
                        <p class="meta">contribuido de meta 5.000 US$</p>
                        <p class="patrocinadores">3.073 Patrocinadores</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i>Munich, DEU</p>
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
        </section>
        <section class="comoFunciona">
            <section class="titulo-h2">
                <h2>¿Como funciona TechnoStarter?</h2>
            </section>
            <section class="flex-comoFunciona">
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero1TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h3>Iniciar una campaña</h3>
                        <p>Crea tu proyecto en TechnoStarter en pocos minutos a través de un procedimiento fácil y rápido.</p>
                    </section>
                </article>
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero2TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h3>Comparte tu historia</h3>
                        <p>Comparte tu proyecto para obtener apoyo. Cuanta mas gente se interese en tu proyecto mas rapido llegaras a tu objetivo de donaciones.</p>
                    </section>
                </article>
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero3TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h3>Gestiona tu campaña</h3>
                        <p>Recibe notificaciones sobre los nuevos donativos, mantén informados a tus donantes, envía agradecimientos, gestiona tus retiros de fondos y finaliza tu tan soñado proyecto!.</p>
                    </section>
                </article>
            </section>
        </section>

        <section class="nuestrosPatrocinios margin-body">
            <section class="titulo-h2">
                <h2>Nuestros Patrocinios!</h2>
            </section>
            <article class="flex-patrocinios">
                <section>
                    <a href="https://www.kickstarter.com/"><i class="fab fa-kickstarter fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.amazon.com/"><i class="fab fa-amazon fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.reddit.com/"><i class="fab fa-reddit-square fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.patreon.com/"><i class="fab fa-patreon fa-3x"></i></a>
                </section>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")  %> 
</body>

</html>